/*https://www.behance.net/gallery/98234521/Travel-agency-website-UXUI-design?tracking_source=search_projects_recommended%7Ctravel*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=PT+Sans+Narrow&display=swap');

html 
{
 height: 100vh;
}

body 
{
 height: inherit;
}

html,
body 
{
 margin: 0;
}

.frame 
{
display: flex;
flex-direction: column;
height: inherit;
}

.header
{
display: flex;
min-height: 60px;
position: relative;
min-height: inherit;
position: absolute;
width: 100%;
flex-direction: row;
justify-content: space-between;
}

.logo{

}

.menu_links
{
display: flex;
flex-direction: row;
box-sizing: border-box;
padding: 0 15px;
}

.menu_links a
{
padding: 8px 8px 8px 8px;
text-decoration: none;
font-size: 15px;
color: white;
display: block;
transition: 0.3s;
flex: 1 1 auto;
margin: 0px 10px;
}

.menu_links a:hover
{
background-color: gray;
opacity: 0.9;
border-radius: 10px;
}

.bg_image
{
background: url("../images/mounts.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: content-box;
position: sticky;
left: 0;
z-index: -1;
width: 100%;
height: auto;
min-height: 70%;
justify-content: center;
box-sizing: border-box;
}

.bg_text_position
{
display: flex;
justify-content: center;
width: 100%;
position: absolute;
top: 26%;
}

.bg_text {
color: white;
font-weight: bold;
font-size: 40px;
z-index: 2;
width: 566px;
text-align: center;
font-family: 'Balsamiq Sans';
}

.bg_text_two {
font-size: 63px;
}

.content 
{
display: flex;
flex-direction: column;
flex-grow: 1;
color: #1f294c;
padding-top: 4%;
}

.about_group
{
padding: 60px;	
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
padding-left: 4%;
padding-right: 4%;
}

.about_us
{
display: flex;
justify-content: space-between;
}

.about_text
{
padding-right: 16px;
width: 50%;
display: flex;
flex-direction: column;
}

.about_img
{
background: url("../images/mounts3.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: content-box;	
min-width: 40%;
min-height: 40%;
border-radius: 20px;
}

.servies
{
display: flex;
flex-direction: column;
padding-left: 4%;
padding-right: 4%;
padding-top: 25px;
}

.position_servies_txt
{
width: 100%;
display: flex;
justify-content: center;
}

.servies_txt
{
color: #1f294c;
font-weight: bold;
font-size: 40px;
align-items: center;
}

.servies_icon
{
width: 100%;
height: 315px;
padding: 15px;
display: flex;
margin: 12px;
flex-wrap: wrap;
justify-content: space-between;
z-index: 1000;

}


.icon_1
{
background: url("../images/icon1.jpg");	
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 180px;
height: 180px;

}

.icon_2
{
background: url("../images/icon2.jpg");	
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: content-box;	
width: 180px;
height: 180px;
}

.icon_3
{
background: url("../images/icon3.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: content-box;	
width: 180px;
height: 180px;	
}

.icon_4
{
background: url("../images/icon4.jpg");	
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: content-box;	
width: 180px;
height: 180px;
}

.client_contact
{
background-color: #FFDCC8;
min-height: 100px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 80px;
}

* {box-sizing:border-box}
/* Контейнер для слайдшоу */
.slideshow-container {
  max-width: 1000px;
  height: 400px;
  position: relative;
  margin: auto;
}

/* Скрыть изображения по умолчанию */
.mySlides {
  display: none;
}

/* Следующие и предыдущие кнопки */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Расположите «следующую кнопку» вправо */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный фон с немного прозрачным */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Текст подписи */
.text_slaid {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Числовой текст (1/3 и т. Д.)*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Точки / маркеры / индикаторы */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Затухающая анимация */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.contact_use
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 80px;
}

.description_contact
{
display: flex;
flex-direction: column;
}

.contact_img
{
background: url("../images/mounts.jpg");
height: 450px;
width: 400px;
border-radius: 10px;	
}

.input
{
 padding: 8px 16px;
 border-radius: 6px 0 0 6px;
 outline: 0;
 border: 0;
 width: 350px;
}

.button
{
 padding: 8px 16px;
 border-radius: 0 6px 6px 0;
 outline: 0;
 border: 0;
 box-sizing: border-box;
 background-color: #ff685f;
 color: #fff; 
}


.footer
{
padding: 25px;
box-sizing: border-box;
color: #fff;
display: flex;
min-height: 100px;
max-height: 100px;
background-color: #333;
flex-grow: 0;
}

.searh
{
display: flex;
flex-direction: row;
box-sizing: border-box;
min-width: 660px;
min-height: 105px;
max-width: 660px;
max-height: 105px;
background: #fff;
box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 30px;
border: 1px solid #e7e8ea;
top: 60%;
}

.searh_position
{
position: absolute;
top: 62%;
text-align: center;
display: flex;
justify-content: center;
width: 100%;
}

