body
{
 background: url("./images/background3.JPG");
} 



.container
{
margin: auto;
text-align: center;

} 
.container2
{
margin: auto;
text-align: center;

} 

.button
{
position: relative;
left: 50%;
transform: translate(-50%, 0);
color: white;
text-decoration: none;
padding: 20px;
border-radius: 15px;
background: black;
cursor: pointer;
} 


